:root {
    --color-primary: #023107;
}

* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html,
body {
    background-color: white;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.row {
    --bs-gutter-x: 0;
}
    

/* Header */

.announcement {
    height: 30px;
    background-color: #eeeeee;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    width: 100%
}

#cart {
    margin: 3px 10px 0;
}

.logo {
    margin-left: 25px;
}


.navbar-nav input {
    font-size: 14px;
    
}

/* Carousel */

.carousel-item img {
    object-fit: scale-down;
    height: 60%;
}

.carousel-item button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.first-carousel {
    background-color: #cbf8de;
}

.second-carousel {
    background-color: #dfdfdf;
}

.third-carousel {
    background-color: #ffcc89;
}

.fourth-carousel {
    background-color: #fcf2be;
}

.description {
    padding-top: 50px;
}

.carousel-inner {
    height: 70vh;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}


/* Newsletter */

.newsletter {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 20px;
}

.newsletter h2{
    font-size: 46px;
    /* display: flex;
    flex-direction: column; */
}

/* Footer */

.footer-container {
    padding: 30px;
    background-color: #eeeeee;
}



.items {
    display: flex;
    flex-wrap: wrap;
}

.items li {
    list-style: none;
}

.useful-links {
    text-align: center;
}

.contact {
    margin-left: 13px;
}

.formsize input{
    width: 80vh;
}

.formsize button {
    margin-top: 10px;
    background-color: var(--color-primary);
}