:root {
    --color-primary: #023107;
}

* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html,
body {
    background-color: white;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}


/* Header */

.announcement {
    height: 30px;
    background-color: #eeeeee;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    width: 100%
}

#cart {
    margin: 3px 10px 0;
}

/* .carousel-control-prev button {
    padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
} */



/* Carousel */

.carousel-item img {
    object-fit: scale-down;
    height: 60%;
}

.first-carousel {
    background-color: #cbf8de;
    /* height: 70vh; */
}

.second-carousel {
    background-color: #dfdfdf;
    /* height: 80vh; */
}

.third-carousel {
    background-color: #ffcc89;
    /* height: 80vh; */
}

.fourth-carousel {
    background-color: #fcf2be;
    /* height: 80vh; */
}

.description {
    padding-top: 50px;
}

.carousel-inner {
    height: 70vh;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}




/* Footer */

.footer-container {
    margin-top: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.items li {
    list-style: none;
}

.useful-links {
    text-align: center;
}

.contact {
    margin-left: 13px;
}