:root {
    --color-primary: #03550c;
}

* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html,
body {
    background-color: white;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.row {
    --bs-gutter-x: 0;
}


/* Header */

.announcement {
    height: 30px;
    background-color: #eeeeee;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    width: 100%
}

#cart {
    margin: 3px 10px 0;
}

.logo {
    margin-left: 25px;
}


.navbar-nav input {
    font-size: 14px;

}

/* Carousel */

.carousel-item img {
    object-fit: scale-down;
    height: 60%;
}

.carousel-item button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.first-carousel {
    background-color: #cbf8de;
}

.second-carousel {
    background-color: #dfdfdf;
}

.third-carousel {
    background-color: #ffcc89;
}

.fourth-carousel {
    background-color: #fcf2be;
}

.description {
    padding-top: 50px;
}

.carousel-inner {
    height: 70vh;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}


/* Newsletter */

.newsletter {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 20px;
}

.newsletter h2 {
    font-size: 46px;
}

/* Footer */

.footer-container {
    padding: 30px;
    background-color: #eeeeee;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.items li {
    list-style: none;
}

.useful-links {
    text-align: center;
}

.contact {
    margin-left: 13px;
}

.formsize input {
    width: 80vh;
}

.formsize button {
    margin-top: 10px;
    background-color: var(--color-primary);
}

/* Login */

.login-container {
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("http://3.bp.blogspot.com/-_Y3gvOjwG5k/UNOIhoW8-YI/AAAAAAAABEw/EF3v1eSqI9w/s1600/P1050281.JPG") center;

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    background-color: white;
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 5px 25px 1px;
    margin-top: 10px;
    border-radius: 5px;
}

#message p {
    padding: 0px 35px;
    font-size: 14px;

}

#message h6 {
    font-weight: 600;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #05690f !important;
    border-color: #ffffff;
}

.btn-primary:disabled {
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #0b8a18 !important;
}

#login-form p {
    font-size: 12px;
}

#login-button {
    margin-top: 35px;
    right: 10px;
    position: relative;
    float: right;
}

/* Categories */
.products-container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.product-card {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    overflow-wrap: break-word;
    
}
.product-card:hover {
    border: 1px solid #0b8a18;
    transform: scale(1.1);
}

.products-container h1{
    font-size: 50px;
}

.products-container p{
    font-size: 22px;
}


.price {
    text-align: right;
    font-weight: 600;
}